venv
*.pyc
staticfiles
.DS_Store
*.sw[pon]
celerybeat-schedule.db
sqlite3.db
CACHE
local_settings.py
dump.rdb
superuser.json
fixtures
.vagrant/
Vagrantfile
workers/scoryst.pem
scorystapp/apis/evangelist-server.crt
scorystapp/apis/evangelist-client.crt
scorystapp/apis/evangelist-client.key
