html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0 0 50px 0;
  font-family: Roboto, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Josefin Sans', 'Helvetica Neue', 'Trebuchet MS', Helvetica, Arial, Sans-serif;
  font-weight: 600;
}

header {
  background-color: #2980b9;
  height: 50px;
  min-width: 980px;
}

header h1 {
  font-weight: normal;
  padding: 0 20px;
  margin-bottom: 0;
  font: 22px Roboto;
  line-height: 50px;
  float: left;
}

/* For the Scoryst logo. */
header a {
  color: #fff;
}

header a:hover, header a:active, header a:focus {
  text-decoration: none;
  color: #ecf0f1;
  outline: none;
}

/* For the logged in name. */
header .navbar-nav > li > a:hover {
  background-color: inherit;
}

header ul.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

/* For the left navigation. */
nav {
  width: 200px;
  background-color: #ecf0f1;
  float: left;
  margin-right: 20px;
}

nav ul {
  padding-top: 10px;
  padding-left: 0;
}

nav li {
  list-style-type: none;
  font-size: 16px;
}

nav .active, nav li:hover {
  background-color: #fff;
}

nav a {
  color: #2c3e50;
  display: block;
  padding: 10px 10px 10px 20px;
}

nav a:hover {
  text-decoration: none;
}

nav i {
  display: inline-block;
  width: 24px;
}

nav .fa-arrow-right {
  display: none;
}

.collapsed-nav nav {
  text-indent: -9999px;
  width: 60px;
}

.collapsed-nav nav .fa-arrow-right {
  display: inline-block;
}

.collapsed-nav nav .fa-arrow-left {
  display: none;
}

.collapsed-nav nav i {
  text-indent: 9999px;
}

.collapsed-nav nav .course i {
  text-indent: 0;
}

nav .course {
  margin: 15px 0 5px 20px;
  cursor: pointer;
}

nav .course .fa-chevron-up {
  display: none;
}

nav .course.contracted .fa-chevron-down {
  display: none;
}

nav .course.contracted .fa-chevron-up {
  display: inline;
}

nav .course:hover {
  background: transparent;
}

nav .course span {
  font-size: 13px;
  color: #999;
}

nav .course i {
  font-size: 13px;
  padding-left: 5px;
}

.breadcrumb {
  background-color: #fff;
  padding: 0;
}

.main {
  overflow: hidden;
  height: 100%;
  min-width: 1400px;
}

.main.collapsed-nav {
  min-width: 1260px;
}

.container {
  float: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container {
  max-width: none !important;
  width: 1170px;
}

.add-people {
  line-height: 22px;
}

.spacing-left {
  margin-left: 8px;
}

button[type="submit"] {
  float: right;
}

footer {
  color: #ecf0f1;
  background-color: #34495e;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 980px;
}

footer p {
  padding: 0 20px;  
  margin: 0;
}

footer span {
  float: right;
}

footer span a {
  color: #ecf0f1;
  text-decoration: underline;
}

footer span a:hover {
  color: #bdc3c7;
}

/* Form errors */
.error {
  display: block;
  color: #c0392b;
  margin-top: 5px;
}

.error strong {
  color: #ac3326;
}

/* CSS for create exam page */
.exam {
  position: relative;
}

.exam-canvas {
  float: left;
  width: 90%;
}

.exam-canvas img {
  width: 100%;
  border: 1px solid #ccc;
}

.previous-page, .next-page {
  cursor: pointer;
  position: relative;
  margin-top: 6px;
}

.previous-page i, .next-page i {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.previous-page i, .next-page i {
  left: 50%;
  font-size: 40px;
}

.previous-page:hover, .next-page:hover {
  background: #f6f6f6;
}

.previous-page {
  float: left;
  width: 5%;
}

.next-page {
  float: left;
  width: 5%;
}

.create-exam .fa-trash-o {
  float: right;
  cursor: pointer;
  font-size: 20px;
  margin-top: 5px;
}

.part-li .fa-trash-o {
  font-size: 18px;
}

.rubric-li .fa-trash-o {
  font-size: 16px;
  margin-top: 7px;
}

.create-exam h3, .create-exam h4 {
  cursor: pointer;
}

.create-exam .fa-chevron-circle-down,
.create-exam .fa-chevron-circle-up {
  cursor: pointer;
}

.question-list {
  padding-left: 0;
}

.question-list ul {
  padding-left: 0;
}

.question-list > li {
  margin-bottom: 5px;
}

.question-list > li > ul > li {
  overflow: hidden;
}

.question-list li {
  list-style-type: none;
}

.create-exam h3 {
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: normal;
}

.create-exam h4 {
  font-weight: normal;
}

.part-meta {
  overflow: hidden;
}

.points { 
  float: left;
  margin-right: 10px;
}

.points input {
  width: 50px;
  display: inline-block;
  margin-left: 5px;
}

.pages {
  float: left;
}

.pages input {
  width: 80px;
  display: inline-block;
  margin-left: 5px;
}

.rubric-description {
  width: 150px;
  display: inline-block;
}

.rubric-points {
  width: 45px;
  display: inline-block;
  margin-right: 5px;
}

.rubrics, .add-buttons {
  overflow: hidden;
}

.add-rubric, .add-part, .add-question {
  margin-bottom: 10px;
  background: #f6f6f6;
  padding: 8px 10px;
  cursor: pointer;
  opacity: 0.7;
}

.add-rubric:hover, .add-part:hover, .add-question:hover {
  opacity: 1;
}

.add-part h4, .add-question h3 {
  line-height: 32px;
  margin-bottom: 0;
}

.add-rubric i, .add-part i, .add-question i {
  display: block;
  float: left;
  font-size: 24px;
  line-height: 35px;
  margin-right: 15px;
  height: 90%;
}

.add-part i {
  height: 50px;
  line-height: 60px;
}

.add-part .form-group {
  margin-bottom: 0;
}

.done-rubric {
  display: block;
  width: 100%;
}

.separator {
  color: #999;
  padding: 0 5px;
}

/* CSS for grade page */
.grade h3 {
  font-size: 18px;
  float: left;
}

.grade h3 span {
  font-size: 14px;
}

.grade .toggle-exam-nav {
  line-height: 1.2;
  overflow: hidden;
  cursor: pointer;
}

.grade .well {
  box-shadow: none;
  border: none;
  -webkit-box-shadow: none;
}

.grade .btn {
  margin: 10px 0;
}

.grade .red {
  color: #e74c3c;
}

.grade .green {
  color: #27ae60;
}

/* For the rubrics nav. */
.grade .rubric-nav-header {
  overflow: hidden;
}

.grade .rubric-nav-header h3 {
  float: left;
}

.grade .rubric-nav-header span {
  float: right;
}

.grade .rubrics-nav .question-part {
  margin-top: 10px;
}

.grade .rubrics-nav li strong, .grade .rubrics-nav input {
  float: right;
}

.grade .rubrics-nav ol {
  padding-left: 20px;
}

.grade .rubrics-nav li {
  margin-bottom: 5px;
  cursor: pointer;
}

.grade .rubrics-nav ol input {
  width: 30px;
  padding: 4px 6px;
  height: 23px;
  text-align: right;
}

.grade .rubrics-nav input {
  padding: 2px;
}

.grade .rubrics-nav textarea {
  width: 100%;
  height: 85px;
  padding: 8px;
}

.grade .rubrics-nav li {
  padding: 3px;
  border: 2px solid transparent;
  margin-left: -25px;
  list-style-position: inside;
}

.grade .rubrics-nav li:hover {
  background-color: #fff;
}

.grade .rubrics-nav .selected {
  border-left: 3px solid #2980b9;
  background-color: #fff;
  color: #2980b9;
}

.grade .rubrics-nav .local-save {
  border-left: 3px transparent #27ae60;
}

.grade .rubrics-nav a {
  color: inherit;
}

.grade .rubrics-nav a:hover {
  text-decoration: none;
}

.grade .rubrics-nav .comment-container {
  overflow: hidden;
}

.grade .rubrics-nav .fa-trash-o {
  float: right;
  margin-top: 17px;
}

.grade .rubrics-nav .fa-trash-o:hover {
  cursor: pointer;
}

.grade .rubrics-nav .fa-trash-o .hidden {
  visibility: none;
}

.grade .comment-success {
  display: none;
  margin-left: 10px;
  color: #27ae60;
}

/* CSS for the grade question navigation. */
.grade .exam-nav {
  margin-top: 10px;
}

.grade .exam-nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.grade .exam-nav .fa-plus-circle {
  display: none;
}

.grade .exam-nav.nav-hidden ul {
  display: none;
}

.grade .exam-nav.nav-hidden .fa-minus-circle {
  display: none;
}

.grade .exam-nav.nav-hidden .fa-plus-circle {
  display: inline-block;
}

.grade .fa-minus-circle, .grade .fa-plus-circle {
  float: right;
  line-height: 1;
  font-size: 18px;
}

.grade .exam-nav a {
  display: block;
  height: 38px;
  line-height: 36px;
  text-decoration: none;
  color: #2c3e50;
  padding-left: 7px;
  border-left: 3px solid transparent;
  font-size: 14px;
}

.grade .exam-nav a:hover, .grade .exam-nav .active a {
  color: #2980b9;
  background-color: white;
  border-left: 3px solid #2980b9;
}

/* Don't want Exam Navigation to have hover properties. */
.grade .exam-nav > a {
  padding-left: 0;
}

.grade .exam-nav > a:hover {
  color: #2c3e50;
  background-color: inherit;
  border-left: 3px solid transparent;
}

.grade .exam-nav span:nth-child(3) {
  float: right;
}

.grade .modal-dialog {
  width: 470px;
}

/* Login page CSS */
.login {
  color: #2c3e50;
}

.login form {
  width: 90%;
}

.login .forgot-password {
  margin-top: 7px;
  float: left;
}

/* Roster page */
.roster .popover {
  width: 160px;
}

.roster .cancel-deletion {
  margin-left: 5px;
}

.roster .roster-scroll {
  max-height: 300px;   /* Minimum max-height. Changed in roster.js. */
  overflow-y: auto;
}

/* arrows for sorting table in roster page */
.roster table thead tr .header {
  background-image: url(/static/img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

.roster table thead tr .headerSortUp {
  background-image: url(/static/img/asc.gif);
}
.roster table thead tr .headerSortDown {
  background-image: url(/static/img/desc.gif);
}


/* Grade overview page */
.grade-overview .exam-summary h2 {
  float: left;
  margin-right: 20px;
}

.grade-overview {
  margin-bottom: 20px;
}

.grade-overview .nav-container {
  margin-bottom: 10px;
}

.grade-overview .table-container {
  clear: both;
}

.grade-overview th, .grade-overview table, .grade-overview th {
  text-align: center;
}

.grade-overview .table td {
  vertical-align: middle;
}

.grade-overview .students-scroll {
  overflow-y: auto;
  max-height: 400px
}

.grade-overview .cancel-release {
  margin-left: 8px;
}

.grade-overview .popover {
  width:300px;
}

/* Exams page */
.exams .edit {
  margin-right: 10px;
}

.exams .form.add-exam {
  margin-top: 30px;
}

.exams .popover {
  width:300px;
}

.exams .confirm-popover {
  width:160px;
}

.exams .cancel-deletion {
  margin-left: 5px;
}

/* Progress tracker. */
.track-progress {
  background-color: #ecf0f1;
  padding: 5px 0;
  float: left;
  width: 100%;
  text-align: center;
}

.track-progress li {
  float: left;
  list-style: none;
  color: #7f8c8d;
  padding: 2px 5px;
}

.track-progress.exams li {
  margin-left: 64px;
}

.track-progress.create li, .track-progress.preview li {
  margin-left: 15px;
}

.track-progress span {
  float: left;
}

.track-progress span:first-child {
  font-size: 20px;
  margin-right: 3px;
}

.track-progress span:nth-child(2) {
  margin-top: 4px;
}

.track-progress li.active span:first-child {
  color: #16a085;
}

.track-progress li.active span:nth-child(2) {
  color: #2c3e50;
}

/* About page. */
.about {
  font-size: 16px;
}

.about h3 {
  font-size: 22px;
  font-weight: 200;
}

.about .product {
  float: left;
  width: 50%;
}

.about .product:first-child {
    padding-right: 10px;
}

.about .product:nth-child(2) {
  padding-left: 10px;
}

.about ul {
  padding: 0;
}

.about li {
  list-style-type: none;
}

.about .contact {
  text-align: center;
  padding: 5px;
  border: 1px solid #34495e;
  font-size: 20px;
  margin: 10px 0 20px 0;
}

.about table {
  table-layout: fixed;
}

.about td {
  width: 33%; 
  background-color: inherit;
}
