html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0 0 50px 0;
  font-family: Roboto, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-size: 15px;
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Josefin Sans', 'Helvetica Neue', 'Trebuchet MS', Helvetica, Arial, Sans-serif;
  font-weight: 600;
}

header {
  background-color: #2980b9;
  height: 50px;
}

header h1 {
  font-weight: normal;
  padding: 0 20px;
  margin-bottom: 0;
  font: 22px Roboto;
  line-height: 50px;
  float: left;
}

/* For the Scoryst logo. */
header a {
  color: #fff;
}

header i {
  padding-right: 2px;
}

header a:hover, header a:active, header a:focus {
  text-decoration: none;
  color: #ecf0f1;
  outline: none;
}

/* For the logged in name. */
header .navbar-nav > li > a:hover {
  background-color: inherit;
}

header ul.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

/* For the left navigation. */
nav {
  width: 200px;
  background-color: #ecf0f1;
  float: left;
  margin-right: 20px;
}

nav ul {
  padding-top: 10px;
  padding-left: 0;
}

nav li {
  list-style-type: none;
  font-size: 16px;
}

nav .active, nav li:hover {
  background-color: #fff;
}

nav a {
  color: #2c3e50;
  display: block;
  padding: 10px 10px 10px 20px;
}

nav a:hover {
  text-decoration: none;
}

nav i {
  display: inline-block;
  width: 24px;
}

nav .fa-arrow-right {
  display: none;
}

.collapsed-nav nav {
  text-indent: -9999px;
  width: 60px;
}

.collapsed-nav nav .fa-arrow-right {
  display: inline-block;
}

.collapsed-nav nav .fa-arrow-left {
  display: none;
}

.collapsed-nav nav i {
  text-indent: 9999px;
}

.collapsed-nav nav .course i {
  text-indent: 0;
}

nav .course {
  margin: 15px 0 5px 20px;
  cursor: pointer;
}

nav .course .fa-chevron-up {
  display: none;
}

nav .course.contracted .fa-chevron-down {
  display: none;
}

nav .course.contracted .fa-chevron-up {
  display: inline;
}

nav .course:hover {
  background: transparent;
}

nav .course span {
  font-size: 13px;
  color: #999;
}

nav .course i {
  font-size: 13px;
  padding-left: 5px;
}

.breadcrumb {
  background-color: #fff;
  padding: 0;
}

.main {
  overflow: hidden;
  height: 100%;
  min-width: 1400px;
}

.main.collapsed-nav {
  min-width: 1260px;
}

.exact-container {
  width: 1390px;
}

.container {
  float: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container {
  max-width: none !important;
  width: 1170px;
}

.add-people {
  line-height: 22px;
}

.spacing-left {
  margin-left: 8px;
}

button[type="submit"] {
  float: right;
}

footer {
  color: #bdc3c7;
  background-color: #34495e;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 1400px;
}

footer p {
  float: left;
  padding: 0 20px;
  margin: 0;
}

footer ul {
  float: right;
  margin: 0;
}

footer li {
  display: block;
  float: left;
  list-style-type: none;
  padding: 0 3px;
  height: 50px;
}

footer li a {
  color: #bdc3c7;
  text-decoration: underline;
}

footer li a:hover {
  color: #ecf0f1;
  text-decoration: none;
}

footer .amp {
  font-family: Baskerville, "Times New Roman", Times, Serif;
  font-style: italic;
  color: #aaa;
  padding-top: 2px;
}

/* To align the input text with the input field (for Chrome) */
input {
  line-height: 0;
  padding: 1px;  /* So the input button is not cut off */
}

/* Form errors */
.error {
  display: block;
  color: #c0392b;
  margin: 5px 0;
}

.error strong {
  color: #ac3326;
}

.success {
  display: block;
  color: #14963B;
  margin: 5px 0;
}

/* CSS for assessment canvas. */
.assessment {
  position: relative;
}

.assessment-canvas {
  float: left;
  width: 90%;
  border: 1px solid #ccc;
  margin-bottom: 120px;
}

.assessment-canvas img {
  width: 100%;
}

.assessment-canvas .toolbar {
  position: absolute;
  z-index: 400;
}

.assessment-canvas .toolbar .btn-default:focus {
  background-color: #fff;
  border-color: #cccccc;
}

.assessment-canvas .toolbar .btn-default.active:focus {
  background-color: #ebebeb;
  border-color: #adadad;
}

.assessment .previous-page, .assessment .next-page {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
}

.assessment .previous-page i, .assessment .next-page i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.assessment .previous-page:hover, .assessment .next-page:hover {
  background: #f6f6f6;
}

.assessment .previous-page.disabled, .assessment .next-page.disabled {
  visibility: hidden;
}

.assessment .previous-page {
  float: left;
  width: 5%;
}

.assessment .next-page {
  float: left;
  width: 5%;
}

/* CSS for zoom lens. */
.assessment-canvas .zoom-lens {
  display: none;
  background: #fff;
  z-index: 300;
  position: absolute;

  overflow: hidden;
  width: 675px;
  height: 873px;

  box-shadow: 0 0 3px #999;
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  -ms-box-shadow: 0 0 3px #999;
  -o-box-shadow: 0 0 3px #999;
  -khtml-box-shadow: 0 0 3px #999;
}

.assessment-canvas .zoom-lens img {
  width: auto;
  position: absolute;
}

.assessment-canvas.zoom-enabled {
  cursor: crosshair;
}

/* CSS for grade page */
.grade .nav-title {
  font-size: 18px;
  float: left;
}

.grade .nav-title span {
  font-size: 14px;
}

.grade .toggle-assessment-nav {
  line-height: 1.2;
  overflow: hidden;
  cursor: pointer;
}

.grade .well, .assessment .well {
  box-shadow: none;
  border: none;
  border-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;}

/* Styling for keyboard shortcuts. */
.grade .shortcut {
  font-size: 11px;
  font-family: Monaco, Menlo, 'Lucida Console', 'Lucida Sans Unicode', 'Courier New', Courier, Monospace;
  padding: 4px 4px 2px 4px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #ecf0f1;
  margin-right: 2px;
}

.grade .shortcut strong {
  font-size: 14px;
}

.grade .shortcut i {
  margin-left: 2px;
}

.grade .save-comment, .grade .comment-textarea, .grade .add-rubric,
.grade .student-nav {
  margin-bottom: 10px;
}

.grade .red {
  color: #e74c3c;
}

.grade .green {
  color: #27ae60;
}

/* For the rubrics nav. */
.grade .rubrics-nav-header {
  overflow: hidden;
}

.grade .rubrics-nav-header h3 {
  float: left;
}

.grade .rubrics-nav-header span {
  float: right;
  margin-top: 2px;
}

.grade .rubrics-nav-header .grader {
  color: #999;
  font-size: 13px;
  padding-right: 10px;
  margin-top: 3px;
}

.grade .rubrics-nav .question-part {
  margin-top: 10px;
}

.grade .rubrics-nav .toggle-edit {
  cursor: pointer;
  font-size: 14px;
  padding-left: 3px;
}

.grade .rubrics-nav .edit, .grade .rubrics-nav .destroy, .grade .rubrics-nav .save,
.grade .rubrics-nav .add-rubric {
  display: none;
}

.grade .rubrics-nav .edit, .grade .rubrics-nav .destroy, .grade .rubrics-nav .save {
  float: right;
  color: #999;
  font-size: 12px;
  padding: 3px 5px 0;
}

.grade .rubrics-nav .edit, .grade .rubrics-nav .save {
  padding-left: 10px;
}

.grade .rubrics-nav.editing .toggle-edit {
  color: #27ae60;
}

.grade .rubrics-nav.editing .edit, .grade .rubrics-nav.editing .destroy,
.grade .rubrics-nav.editing .save, .grade .rubrics-nav.editing .add-rubric {
  display: inline-block;
}

.grade .rubrics-nav .editing-message {
  display: none;
  border: none;
  background: #a8debf;
  padding: 6px 12px;
  overflow: hidden;
  line-height: 28px;
}

.grade .rubrics-nav .editing-message .btn {
  border: 1px solid #7dce9f;
  float: right;
}

.grade .rubrics-nav.editing .editing-message {
  display: block;
}

.grade .rubrics-nav ol {
  padding-left: 20px;
}

.grade .rubrics-nav li strong {
  float: right;
}

.grade .rubrics-nav li:hover {
  background-color: #fff;
}

.grade .rubrics-nav li {
  padding: 2px;
  border: 1px solid transparent;
  margin-left: -25px;
  list-style-position: inside;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
}

.student-view .rubrics-nav li {
  cursor: auto;
}

.grade .rubrics-nav.editing li {
  cursor: auto;
}

.grade .rubrics-nav .custom-points {
  line-height: 26px;
}

.grade .rubrics-nav .custom-points input, .grade .rubrics-nav .rubric-points,
.grade .rubrics-nav .rubric-description {
  float: right;
  width: 40px;
  padding: 4px 6px;
  height: 26px;
  text-align: right;
}

.grade .rubrics-nav .rubric-description {
  display: inline-block;
  float: none;
  width: 210px;
  text-align: left;
}

.grade .rubrics-nav textarea {
  width: 100%;
  height: 85px;
  padding: 8px;
}

.student-view .rubrics-nav li:hover {
  background-color: inherit;
}

.student-view .rubrics-nav .selected:hover {
  background-color: #fff;
}

.grade .rubrics-nav.editing li:hover {
  background-color: inherit;
}

.grade .rubrics-nav.editing .selected:hover {
  background-color: #fff;
}

.grade .rubrics-nav .selected {
  border-left: 3px solid #2980b9;
  background-color: #fff;
  color: #2980b9;
}

.grade .rubrics-nav .local-save {
  border-left: 3px transparent #27ae60;
}

.grade .rubrics-nav .toggle-edit {
  font-size: 13px;
}

.student-view .rubrics-nav .toggle-edit {
  display: none;
}

.grade .rubrics-nav a:hover {
  text-decoration: none;
}

.grade .rubrics-nav .comment-container {
  overflow: hidden;
}

.grade .rubrics-nav .delete-comment {
  float: right;
  margin-top: 7px;
}

.grade .rubrics-nav .add-rubric {
  width: 100%;
}

.grade .comment-success, .grade .student-nav-success {
  display: none;
  margin-left: 10px;
  color: #27ae60;
}

.grade .student-nav-success {
  margin-left: 3px;
}

.grade .left-icon {
  padding-right: 3px;
}

/* CSS for the grade question navigation. */
.grade .assessment-nav {
  margin-top: 10px;
}

.grade .assessment-nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.grade .assessment-nav li {
  border: 1px solid transparent;
}

.grade .assessment-nav .fa-plus-circle {
  display: none;
}

.grade .assessment-nav .active-question-part {
  display: none;
}

.grade .assessment-nav.nav-hidden .active-question-part {
  display: block;
}

.grade .assessment-nav.nav-hidden ul {
  display: none;
}

.grade .assessment-nav.nav-hidden .fa-minus-circle {
  display: none;
}

.grade .assessment-nav.nav-hidden .fa-plus-circle {
  display: inline-block;
}

.grade .assessment-nav .fa-minus-circle, .grade .assessment-nav .fa-plus-circle {
  float: right;
  line-height: 1;
  font-size: 18px;
  margin-top: 3px;
  margin-right: 1px;
}

.grade .assessment-nav a {
  display: block;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #2c3e50;
  padding-left: 7px;
  border-left: 3px solid transparent;
  font-size: 14px;
}

.grade .assessment-nav a:hover, .grade .assessment-nav .active a {
  background-color: white;
}

.grade .assessment-nav .active a {
  border-left: 3px solid #2980b9;
  color: #2980b9;
}

/* Don't want Exam Navigation to have hover properties. */
.grade .assessment-nav > a {
  padding-left: 0;
}

.grade .assessment-nav > a:hover {
  color: #2c3e50;
  background-color: inherit;
  border-left: 3px solid transparent;
}

.grade .assessment-nav span:nth-child(3) {
  float: right;
}

.grade .modal-dialog {
  width: 470px;
}

/* Initially hide the edit comment button. */
.grade button.hidden {
  display: none;
}

/* Preview page CSS */
.grade .preview-text {
  margin-bottom: 10px;
}

.grade h2.exam-preview {
  margin-top: 15px;
}

/* Annotations CSS */
.grade .annotation {
  position: relative;
  width: 20px;
}

.grade .annotation-circle-container:hover {
  cursor: pointer;
}

.grade .annotation-circle-container {
  padding: 5px;
  position: absolute;
  z-index: 200;
}

.grade .annotation-circle {
  background: transparent;
  z-index: 200;
  width: 20px;
  height: 20px;

  border: 4px solid #e74c3c;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  -khtml-border-radius: 200px;

  box-shadow: 0 0 3px #999;
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  -ms-box-shadow: 0 0 3px #999;
  -o-box-shadow: 0 0 3px #999;
  -khtml-box-shadow: 0 0 3px #999;
}

.grade .annotation-comment {
  position: absolute;
  top: 25px;
  z-index: 100;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  -o-border-radius: 10px;
  width: 250px;
  margin-left: 10px;
}

.grade .annotation button {
  margin-top: 5px;
  float: left;
}

.grade .annotation-comment .close {
  color: #000;
  float: right;
  margin-top: -8px;
}

.grade.student-view .annotation-comment .close {
  top: 3px;
}

.grade .annotation-success {
  margin: 12px 0px 0 5px;
  color: #27ae60;
  float: right;
}

.grade .annotation textarea {
  height: 75px;
  resize: vertical;
}

.annotation-info {
  list-style: none;
  padding: 0;
}

.grade button.next {
  float: right;
}

.grade .bottom-student-nav {
  margin-bottom: 15px;
}

.grade .annotation-info-modal .modal-body {
  overflow: hidden;
}

.grade .annotation-front {
  z-index: 300;
}

.grade .annotation .fa-compress {
  font-size: 14px;
}

.grade .annotation .latex-form {
  font-size: 12px;
  float: left;
  margin-top: -3px;
}

.grade .annotation .latex-form .checkbox {
  margin: 0;
  padding-left: 17px;
}

.grade .annotation .latex-checkbox {
  margin-top: 3px;
  margin-left: -17px;
}

.grade .annotation .rendered-latex {
  height: 75px;
  font-size: 14px;
}

.grade .annotation .initially-hide {
  display: none;
}

.grade .annotation .back-to-edit {
  margin-left: 5px;
  float: left;
}

.grade .annotation .preview {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  margin-top: -3px;
}

.grade .annotation .preview:hover, .grade .annotation .back-to-edit:hover,
.grade .annotation .annotation-hidden:hover {
  cursor: pointer;
}

.grade .annotation .annotation-hidden {
  position: absolute;
  margin-left: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  -o-border-radius: 5px;
  height: 15px;
  padding: 7px 5px 2px 5px;
  top: 25px;
  background-color: #ecf0f1;
}

.grade .annotation .ellipsis {
  background-color: #FAFA05;
  line-height: 3px;
  padding: 0 1px;
  height: 10px;
  margin-top: -5px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  -o-border-radius: 2px;
}

/* CSS for the freeform annotations canvas */
.grade .freeform-annotations-canvas {
  position: absolute;
  width: 675px;
  height: 873px;
}

.grade .freeform-annotations-canvas.drawing {
  cursor: url(/static/img/pencil.png), auto;
}

.grade .freeform-annotations-canvas.erasing {
  cursor: url(/static/img/eraser.png), auto;
}

/* Login page CSS */
.login {
  color: #2c3e50;
}

.login form {
  width: 90%;
}

.login .forgot-password {
  margin-top: 7px;
  float: left;
}

.login .sign-up {
  margin-left: 8px;
  margin-top: 7px;
  float: left;
}

.login .bullet {
  margin-top: 7px;
  margin-left: 8px;
  float: left;
}

/* Roster page */
.roster .popover {
  width: 160px;
}

.roster .edit, .roster .save {
  margin-right: 10px;
}

.roster .roster-scroll {
  height: 400px;   /* Minimum max-height. Changed in roster.js. */
  position: relative;
  overflow: hidden;
}

.roster .overview {
  width: 100%;
}

.roster .manual-add {
  margin-bottom: 30px;
}

/* arrows for sorting table in roster page */
.roster table thead tr .header {
  background-image: url(/static/img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

.roster table thead tr .headerSortUp {
  background-image: url(/static/img/asc.gif);
}
.roster table thead tr .headerSortDown {
  background-image: url(/static/img/desc.gif);
}

.roster .student-id, .roster .privilege {
  min-width: 85px;
}

/* Styling for editing roster in the table. */
.roster input[type="text"] {
  width: 80%;
}

.roster .actions {
  width: 10%;
}

/* Grade overview page */
.grade-overview .select-div {
  margin-top: 6px;
  overflow: hidden;
}

.grade-overview .select-label {
  float: left;
  margin-top: 7px;
}

.grade-overview .select-style {
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: 0px;
  margin-left: 4px;
  width: 120px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  -o-border-radius: 2px;
  overflow: hidden;
  background: #fafafa url(/static/img/down-arrow.gif) no-repeat 95% 50%;
}

.grade-overview .select-style select {
  padding: 5px 5px;
  padding-left: 10px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.grade-overview .select-style select:focus {
  outline: none;
}

.grade-overview .assessment-summary h2 {
  float: left;
  margin-right: 20px;
}

.grade-overview .assessment-options {
  display: none;
}

.grade-overview .no-assessments {
  display: none;
}

.grade-overview .assessments {
  display: none;
}

.nav-tabs, .grade-overview .assessment-options {
  margin-bottom: 30px;
}

.grade-overview .nav-container {
  margin-bottom: 10px;
}

.grade-overview .table-container {
  clear: both;
}

.grade-overview th, .grade-overview table, .grade-overview th {
  text-align: center;
}

.grade-overview .table td {
  vertical-align: middle;
}

.grade-overview .search {
  margin: 10px 0;
  margin-top: 5px;
}

.grade-overview .graded {
  float: right;
}

.grade-overview .id {
  float: right;
}

.grade-overview .email {
  display: none;
}

.grade-overview .id {
  display: none;
}

.grade-overview .graders {
  display: none;
}

.grade-overview li.active .email {
  display: inline;
}

.grade-overview li.active .id {
  display: inline;
}

.grade-overview .filtering {
  margin-top: -4px;
  font-size: 14px;
}

.grade-overview .gray {
  background-color: #f9f9f9;
}

.grade-overview .select-assessment,
.statistics .select-assessment {
  margin-bottom: 20px;
}

.grade-overview .select-assessment label,
.statistics .select-assessment label {
  float: left;
  margin: 5px 10px 0 0;
}

.grade-overview .select-assessment select,
.statistics .select-assessment select {
  float: left;
  width: 260px;
}

/* Collapse part information initially. */
.grade-overview table .question-part {
  display: none;
}

.grade-overview a.toggle {
  color: inherit;
}

.grade-overview a.collapse {
  display: none;
}

.grade-overview .students-scroll {
  position: relative;
  overflow: hidden;
  padding-right: 15px;
}

.grade-overview .popover {
  width: 300px;
}

.grade-overview .success, .grade-overview .error {
  display: none;
}

/* Perfect scrollbar */
.grade-overview .ps-container .ps-scrollbar-y-rail,
.course-roster .ps-container .ps-scrollbar-y-rail {
  opacity: 0.6;
}

/* Assessments page */
.assessments .initially-hide {
  display: none;
}

.assessments .edit {
  margin-right: 10px;
}

.assessments .popover {
  width: 300px;
}

.assessments .confirm-popover {
  width: 160px;
}

.assessments .info-popover {
  padding-left: 2px;
}

.assessments .exam-fields {
  display: none;
}

.assessments button.next-question, .assessments button.submit-num-questions {
  display: none;
}

.assessments .small-input {
  width: 10%;
  display: inline-block;
  margin: 2px 2px;
}

.assessments .question {
  margin-bottom: 10px;
  margin-top: 10px;
}

.assessments .create-new-assessment {
  float: right;
  margin-top: -7px;
}

.assessments .section-separator, .assessments .no-exam {
  margin-bottom: 30px;
}

/* fixes the datetimepicker icon to match height of the input box */
.assessments .input-group-addon {
  padding: 8px 12px 9px 12px
}

.assessments .submission-deadline-instructions {
  margin-top: -12px;
  margin-bottom: 15px;
}

.assessments .submission-error {
  margin-top: -15px;
  margin-bottom: 15px;
}

/* Progress tracker. */
.track-progress {
  background-color: #ecf0f1;
  width: 100%;
  overflow: hidden;
  padding: 2px;
}

.track-progress li {
  float: left;
  width: 33.33%;
  text-align: center;
  list-style: none;
  color: #7f8c8d;
  line-height: 40px;
}

.track-progress li.active {
  color: #4cae4c;
  background: #fff;
}

.upload .track-progress li {
  width: 50%;
}

/* About page. */
.about h3 {
  font-size: 22px;
  font-weight: 200;
}

.about .product {
  float: left;
  width: 50%;
}

.about .product:first-child {
  padding-right: 10px;
}

.about .product:nth-child(2) {
  padding-left: 10px;
}

.about ul {
  padding: 0;
}

.about li {
  list-style-type: none;
}

.about table {
  table-layout: fixed;
}

.about td {
  width: 33%;
  background-color: inherit;
}

.about .personal-photo {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  -o-border-radius: 5px;
}

.about h3 {
  margin-top: 10px;
}

/* Landing page. */
body.landing-page {
  padding-bottom: 0;
}

.landing-page {
  color: #222;
}

.landing-page header, .landing-page footer {
  background: center -110px url('/static/img/new-bg.jpg') no-repeat;
  background-size: cover;
  height: 400px;
  min-width: 1170px;
}

.landing-page footer {
  height: 50px;
  padding-top: 0;
  margin-top: 75px;
  color: #eee;
  position: relative;
}

.landing-page footer a {
  color: #eee;
}

.landing-page footer .amp {
  color: #ddd;
}

.landing-page header h1 {
  float: none;
  line-height: 1.2;
  margin-top: 100px;
}

.landing-page .container {
  float: none;
  margin: 0 auto;
}

.landing-page .row {
  line-height: 1.5;
  font-size: 16px;
  color: #555;
  margin-top: 75px;
}

.landing-page .logo {
  text-align: center;
}

.landing-page .logo a {
  font-family: 'Quicksand';  /* TODO: Font stack. */
  font-weight: normal;
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: 5px;
  margin-top: 40px;
  color: #222;
  text-decoration: none;
}

.landing-page .tagline {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  color: #222;
}

.landing-page .grading-outdated {
  margin-top: 80px;
}

.landing-page .easy-navigation {
  margin-top: 100px;
}

.landing-page .consistent-rubrics {
  margin-top: 30px;
}

.landing-page .in-depth-statistics {
  margin-top: 90px;
}

.landing-page .grade-page-img {
  width: 650px;
}

.landing-page .rubrics-img {
  float: right;
}

.landing-page header .container {
  position: relative;
}

.landing-page .login {
  position: absolute;
  top: 20px;
  right: 15px;
  color: #eee;
}

.landing-page .login:hover {
  border-bottom: 1px solid #ccc;
}

/* For statistics. */
.statistics .table-container {
  clear: both;
}

.statistics th, .statistics table, .statistics td {
  text-align: center;
}

.statistics .total {
  font-weight: bold;
}

.statistics .table td {
  vertical-align: middle;
  cursor: pointer;
}

.statistics .table .question {
  background-color: #F9F9F9;
}

.statistics .table tr {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.statistics .table tr.row-body.selected, .statistics .table tr.row-body:hover {
  background-color: rgba(151, 187, 205, 0.5);
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: rgba(151, 187, 205, 1);
}

.statistics table .question-part {
  display: none;
}

.statistics .collapse {
  display: none;
}

.statistics #histogram {
  width: 100%;
  height: 500px;
}

.not-found-error img, .server-error img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  -o-border-radius: 5px;
}

.assign-exams .overview {
  width: 100%;
}

.assign-exams .students-scroll {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.assign-exams .tt-hint {
  /* CSS in .tt-hint here have been taken from form-control */
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.assign-exams .tt-query, .assign-exams .tt-hint {
  margin: 10px 0 -3px;
  width: 350px;
}

.assign-exams .tt-hint {
  color: #999
}

.assign-exams .tt-dropdown-menu {
  width: 350px;
  margin-top: 2px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.assign-exams .show-dropdown {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
}

.assign-exams .error {
  display: inline;
  padding-top: 2px;
  margin-top: 0px;
}

.assign-exams .tt-suggestion {
  padding: 8px 20px;
  line-height: 24px;
  border-bottom: 1px solid #eee;
}

.assign-exams .tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}

.assign-exams .tt-suggestion p {
  margin: 0;
}

.assign-exams .submissions-nav {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.map-question-parts .pages {
  width: 100px;
  float: none;
  display: inline;
}

.map-question-parts .success {
  display: none;
}

.split .navigation {
  margin-bottom: 20px;
}

.split .image-container, .select-pages .image-container {
  position: relative;
  border: 1px solid #ccc;
  float: left;
  padding: 2px;
}

.split img, .select-pages img {
  width: 220px;
}

.split .image-container .zoom, .select-pages .image-container .zoom {
  position: absolute;
  left: 0;
  bottom: 1px;
}

.split .finish {
  margin-top: 10px;
}

.split .selected, .select-pages .selected {
  border: 2px solid #D60000;
  /* Reduce the padding to maintain the same dimensions. */
  padding: 1px;
}

/* For welcome page. */
.welcome input {
  width: 60%;
  margin-top: 15px;
  display: inline-block;
}

.welcome button[type="submit"] {
  float: none;
  margin-top: 15px;
  margin-left: 10px;
  display: inline;
}

/* For submit. */
.submit .create-pdf-info {
  margin-top: 40px;
  padding: 5px;
}

.submit .highlighted {
  background-color: #fcf8e3;
}

.map-submission .nav li {
  width: 170px;
  text-align: center;
}

.select-pages .loading {
  display: block;
  margin: 150px auto 0;
}

.select-pages .page {
  width: 175px;
  height: 230px;
  cursor: pointer;
}

.select-pages .image-container {
  margin-bottom: 5px;
  margin-right: 5px;
}

.map-submission .success {
  display: none;
  margin-top: 10px;
  overflow: hidden;
}

.map-submission .failure {
  display: none;
  margin-top: 10px;
  overflow: hidden;
  color: #D8000C;
  line-height: 37px;
}

.map-submission .success i, .map-submission .failure i {
  float: left;
  padding-left: 2px;
  width: 33px;
  font-size: 25px;
  line-height: 40px;
}

.map-submission .mapped-token-container {
  position: absolute;
  top: 0px;
  margin: 4px;
}

.map-submission .mapped-token {
  background-color: #eee;
  color: #0061B5;
  padding: 2px;
  border-radius: 5px;
  font-size: 13px;
  opacity: 0.6;
  float: left;
  margin: 0 2px;
}

.map-submission .mapped-token.active {
  color: #fff;
  background: #0061B5;
}

.map-submission .fa-check {
  display: none;
}

.map-submission .nav > li > a {
  padding: 10px;
}

/* CSS for the feedback form. */
.feedback {
  width: 220px;
  background-color: #222;
  position: absolute;
  bottom: 0;
  right: 200px;
  z-index: 100;
  border: 3px solid #222;
  border-bottom: 0;
}

.feedback .fa-expand {
  padding-left: 85px;
}

.feedback .feedback-rest {
  display: none;
}

.feedback .feedback-title {
  margin: 0;
  cursor: pointer;
  height: 35px;
  padding-left: 17px;
  color: #fff;
  padding-top: 6px;
  font-size: 18px;
}

.feedback textarea {
  padding: 10px;
  resize: none;
  outline: none;
  width: 100%;
  height: 135px;
  border: none;
  background-color: #fcfcfc;
  color: #555;
}

.feedback .feedback-submit-div {
  height: 40px;
  background-color: #fcfcfc;
}

.feedback .feedback-submit {
  float: right;
  margin: 0 7px 5px 0;
  background-color: #222;
  border: 1px solid #222;
}

.feedback .feedback-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #4484a8;
  cursor: pointer;
}

.feedback .feedback-thank .feedback-more:hover {
  text-decoration: underline;
}

.feedback .feedback-thank {
  background-color: #fcfcfc;
  color: #555;
  display: none;
  height: 175px;
  line-height: normal;
  position: relative;
  padding-top: 7px;
  padding-left: 10px;
  margin: 0;
  width: 100%;
}
