html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0 0 50px 0;
    font-family: Roboto;  /* TODO: Font stack. */
    position: relative;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Josefin Sans';
}

header {
    background-color: #2980b9;
    height: 50px;
    min-width: 980px;
}

header h1 {
    font-weight: normal;
    padding: 0 20px;
    margin-bottom: 0;
    font: 22px Roboto;
    line-height: 50px;
}

header a {
    color: #ecf0f1;
}

header a:hover {
    text-decoration: none;
    color: #ecf0f1;
}

nav {
    width: 200px;
    background-color: #ecf0f1;
    float: left;
    margin-right: 20px;
}

nav ul {
    padding-top: 10px;
    padding-left: 0;
}

nav li {
    list-style-type: none;
    font-size: 16px;
}

nav li:hover {
    background-color: #fff;
}

nav a {
    color: #2c3e50;
    display: block;
    padding: 10px 10px 10px 20px;
}

nav a:hover {
    text-decoration: none;
}

nav i {
    display: inline-block;
    width: 24px;
}

.breadcrumb {
    background-color: #fff;
    padding: 0;
}

.main {
    overflow: hidden;
    height: 100%;
    min-width: 980px;
}

.container {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-people {
    line-height: 22px;
}

.spacing-left {
    margin-left: 8px;
}

button[type="submit"] {
    float: right;
}

footer {
    color: #ecf0f1;
    background-color: #34495e;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 980px;
}

footer p {
    padding: 0 20px;    
    margin: 0;
}

/* CSS for grade.html page */
.grade .nav-tabs {
    margin-bottom: 20px;
}

.grade .nav-pills a {
    color: #333;
}

.grade .nav-pills span {
    float: right;
}

.grade table, .grade th {
    text-align: center;
}

.grade .table td {
    vertical-align: middle;
}

/* CSS for create-exam.html */
.exam {
  position: relative;
}

canvas {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.previous-page, .next-page {
  position: relative;
  margin-top: 6px;
}

.previous-page i, .next-page i {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.previous-page i, .next-page i {
  left: 50%;
  font-size: 40px;
}

.previous-page:hover, .next-page:hover {
  background: #f6f6f6;
}

.previous-page {
  float: left;
  width: 5%;
}

.exam-canvas {
  float: left;
  width: 90%;
}

.next-page {
  float: left;
  width: 5%;
}
